version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: would_watch_backend
    restart: unless-stopped
    ports:
      - "8080:8080"
    networks:
      - would_watch_net
    environment:
      - PORT=8080
      - DATABASE_URL=${DATABASE_URL}
      - SUPABASE_URL=${SUPABASE_URL}
      - SUPABASE_ANON_KEY=${SUPABASE_ANON_KEY}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - TMDB_API_KEY=${TMDB_API_KEY}

networks:
  would_watch_net:
    external: true
